#cuerpo{
    position: relative;
    width: 95%;
    height: 95%;
    top: 2.5%;
    bottom: auto;
    left: 2.5%;
    right: auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #009ecd;
}

#banner{
    height: 10%;
    min-height: 50px;
    border-bottom: 1px solid lightgray;
}

#banner h1{
    position: relative;
    left: 15px;
    display: block;
    top: calc((100% - 30px)/2);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.tercio_v{
    width: calc((100% / 3) - 1px);
}

.borde_derecho_1pxSolid{
    border-right: 1px solid lightgray;
}
.borde_abajo_1pxSolid{
    border-bottom: 1px solid lightgray;
}

#noticias{

}

#inasistencias{

}

.titulo_seccion{
    height: 7%;
}

.titulo_seccion h2{
    position: relative;
    display: block;
    margin: 0px;
    text-align: center;
    height: 75%;
    top: 12.5%;
}

.herramientas_seccion{
    height: calc(5% - 1px);
    text-align: center;
    padding-bottom: 2px;
}

.herramientas_seccion button{
    height: 100%;
    width: calc((100% / 3) - 4px);
    padding: 0px;
}

.contenido_seccion{
    height: calc(88% - 2px);
    overflow-y: scroll;
}

#contenido{
    height: 90%;
}

.lista_contenido{
    position: relative;
    top: 5px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.lista_contenido li{
    padding: 5px;
    border-bottom: 1px dotted lightgrey;
}

.lista_contenido li:hover{
    background-color: lightblue;
}

.lista_contenido li:active{
    background-color: rgb(135, 170, 235);
}

.lista_contenido p{
    margin: 0px;
}

.lista_contenido li .titulo_noticia{
    font-weight: bold;
}

.lista_contenido li .contenido_noticia{
    font-size: small;
}

#baseEditor{
    display: none;
    background-color: rgba(10,10,10,0.85);
    position: fixed;
    top: 0px;
    left: 0px;
}

#zonaEditor{
    width: 50%;
    left: calc(50% / 2);
}

#ventanaEditor{
    position: relative;
    height: 50%;
    top: calc(50% / 2);
    background-color: white;
    border-radius: 10px;
}

.barraTituloEditor{
    height: 40px;
    border-bottom: 1px solid black;
}

.btnCerrar{
    position: absolute;
    right: 5px;
    top: 5px;
    left: auto;
    width: 30px;
    height: 30px;
    /*border: 1px solid black;*/
    border-radius: 15px;
    text-align: center;
    /*background-color: red;*/
    background-image: url("../../img/cerrar_cla.png");
    background-size: contain;
    cursor: pointer;
}

.btnCerrar:hover{
    background-image: url("../../img/cerrar.png");
}

.btnCerrar:active{
    background-image: url("../../img/cerrar_osc.png");
}

#editorTitulo{
    position: relative;
    margin: 0px;
    height: 50%;
    top: 25%;
    width: calc(100% - 35px);
    text-align: center;
}

.formEditor table{
    position: relative;
    width: 75%;
    left: calc(25% / 2);
}

.formEditor td{
    text-align: center;
    width: 65%;
}

.formEditor td:nth-of-type(1){
    text-align: left;
    width: 35%;
}

.formEditor td input{
    width: 90%;
    text-align: center;
}

.editor{
    position: relative;
    top: 20px;
}

#btnAgregarNoticia{
    position: relative;
    width: 25%;
    top: 20px;
    left: calc(75% / 2);
}